@keyframes scaleDown {
  from {
    transform: scaleX(0);
    transform-origin: 320px;
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes scaleDown2 {
  from {
    transform: scaleX(0);
    transform-origin: 0px;
  }
  to {
    transform: scaleX(1);
  }
}
